* {
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  font-family: "Cinzel", serif;
}

#header {
  margin-top: 75px;
}

#header a {
  text-decoration: none;
  color: black;
}

.name {
  text-align: center;
  font-size: 22px;
  text-shadow: 4px 4px 4px #aaaaaa;
}

.logo {
  display: block;
  width: 40px;
  margin: 0 auto;
}

.menu {
  width: 100%;
  text-align: center;
  margin-top: 45px;
}

.lista {
  display: flex;
  margin-left: 41%;
}

.lista li {
  margin-left: 20px;
  list-style: none;
}

.lista a {
  text-decoration: none;
  color: black;
  transition: all 300ms;
}

.lista a:hover {
  color: #9e9e9e;
  text-decoration: underline;
}

#galeria {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 33%);
  margin: 0 auto;
  margin-top: 36px;
  align-items: center;
}

.colibri {
  width: 350px;
}

.hombre {
  width: 275px;
  height: 400px;
  padding-left: 33px;
}

.tribu {
  width: 280px;
  height: 370px;
}

.camara {
  width: 350px;
  height: 250px;
  padding-right: 30px;
}

.mujer {
  width: 300px;
  height: 375px;
  margin-top: 20px;
  margin-left: 20px;
}

.piedra {
  width: 300px;
}

.guitarra {
  width: 300px;
  margin-left: 20px;
  margin-top: 15px;
}

.mano {
  width: 350px;
  margin-right: 20px;
}

.cello {
  width: 300px;
  height: 450px;
  margin-left: 10px;
}

.guitarras {
  width: 300px;
  height: 400px;
  margin-top: 30px;
  margin-left: 20px;
}

.tren {
  width: 350px;
}

.violinymano {
  width: 300px;
  height: 400px;
  margin-top: 30px;
  margin-left: 20px;
}

.guitarras2 {
  width: 350px;
  margin-top: 25px;
}

.nosequees {
  width: 300px;
  height: 400px;
  margin-top: 25px;
  margin-left: 20px;
}

#fotos {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

#footer {
  width: 100%;
  text-align: center;
  height: 100px;
}

#footer p {
  padding-top: 45px;
}

#footer a {
  color: black;
  transition: all 200ms;
}

#footer a:hover {
  color: rgb(156, 141, 141);
}

/*Estilos de contacto.html*/

#contacto {
  margin-left: 300px;
  margin-top: 100px;
}

/*Responsive*/

@media (max-width: 1230px) {
  #galeria {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding-left: 130px;
  }

  .cello {
    margin-top: 22px;
  }
}

@media (max-width: 1036px) {
  .menu {
    width: 92%;
  }
}

@media (max-width: 986px) {
  #galeria {
    padding-left: 97px;
  }
}

@media (max-width: 922px) {
  .menu {
    width: 89%;
  }

  #galeria {
    padding-left: 55px;
  }
}

@media (max-width: 886px) {
  #galeria {
    padding-left: 28px;
  }
}

@media (max-width: 842px) {
  .menu {
    width: 86%;
  }

  #galeria {
    padding-left: 6px;
  }
}

@media (max-width: 830px) {
  #galeria {
    display: grid;
    grid-template-columns: none;
    padding-left: 237px;
  }

  .hombre {
    margin-top: 20px;
  }

  .tribu {
    margin-top: 20px;
    margin-left: 30px;
  }

  .camara {
    margin-top: 20px;
  }

  .piedra {
    margin-top: 20px;
    margin-left: 18px;
  }

  .mano {
    margin-top: 20px;
  }

  .cello {
    margin-left: 23px;
  }

  .tren {
    margin-top: 20px;
  }
}

@media (max-width: 726px) {
  .menu {
    width: 80%;
  }

  #galeria {
    padding-left: 188px;
  }
}

@media (max-width: 670px) {
  .menu {
    width: 75%;
  }

  #galeria {
    padding-left: 149px;
  }
}

@media (max-width: 600px) {
  .lista {
    margin-left: 38%;
  }

  #galeria {
    padding-left: 103px;
  }
}

@media (max-width: 516px) {
  .lista {
    margin-left: 34%;
  }

  #galeria {
    padding-left: 64px;
  }
}

@media (max-width: 474px) {
  .lista {
    margin-left: 31%;
  }

  #galeria {
    padding-left: 31px;
  }
}

@media (max-width: 446px) {
  .menu {
    width: 72%;
  }

  .lista {
    margin-left: 30%;
  }

  #galeria {
    padding-left: 7px;
  }
}

@media (max-width: 424px) {
  .lista {
    margin-left: 27%;
  }

  #galeria {
    padding-left: 0px;
  }
}

@media (max-width: 407px) {
  .colibri {
    width: 320px;
  }

  .hombre {
    padding-left: 27px;
  }

  .tribu {
    margin-left: 23px;
  }

  .camara {
    width: 323px;
    height: 224px;
  }

  .mujer {
    margin-left: 8px;
  }

  .piedra {
    margin-left: 9px;
  }

  .guitarra {
    margin-left: 13px;
  }

  .mano {
    width: 330px;
  }

  .cello {
    margin-left: 16px;
  }
  .tren {
    width: 330px;
  }

  .guitarras {
    margin-left: 12px;
  }

  .violinymano {
    margin-left: 12px;
  }

  .guitarras2 {
    width: 320px;
  }
}

@media (max-width: 369px) {
  .lista {
    margin-left: 21%;
  }

  .colibri {
    width: 293px;
  }

  .hombre {
    padding-left: 10px;
  }

  .tribu {
    margin-left: 6px;
  }

  .camara {
    width: 290px;
    height: 199px;
    padding-right: 0px;
  }

  .mujer {
    margin-left: -5px;
  }

  .piedra {
    margin-left: -4px;
  }

  .guitarra {
    margin-left: -3px;
  }

  .mano {
    width: 297px;
  }

  .cello {
    margin-left: 0px;
  }

  .tren {
    width: 300px;
  }

  .guitarras {
    margin-left: -2px;
  }

  .violinymano {
    margin-left: 0px;
  }

  .guitarras2 {
    width: 300px;
  }
}

/*Responsive de contacto.html*/

@media (max-width: 700px) {
  #contacto {
    margin-left: 235px;
  }
}

@media (max-width: 612px) {
  #contacto {
    margin-left: 198px;
  }
}

@media (max-width: 554px) {
  #contacto {
    margin-left: 170px;
  }
}

@media (max-width: 494px) {
  #contacto {
    margin-left: 133px;
  }
}

@media (max-width: 430px) {
  #contacto {
    margin-left: 104px;
  }
}

@media (max-width: 374px) {
  #contacto {
    margin-left: 77px;
  }
}
